<div class="container">
    <h1>{{ title }}</h1>
    <p>movie works!</p>
  
    <button class="btn btn-primary" (click)="toggleImage()">Show Movie</button>
  
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Image</th>
          <th>Movie</th>
          <th>Actor</th>
          <th>Genre</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>
            <img *ngIf="displayPic" [src]="movie.movieImg" 
                 [style.height.px]="height"
                 [style.width.px]="width"
                 [style.borderRadius.px]="borderRadius">
          </td>
          <td>{{ movie.movieName }}</td>
          <td>{{ movie.movieStar }}</td>
          <td>{{ movie.movieGenre }}</td>
          <td>{{ movie.movieRating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  